{% extends 'blockchains/base.html' %}

{% block title %}
    bsc list
{% endblock %}

{% block context %}
    <h2> Pairs  </h2>
<ul>
    <table class="table table-bordered  table-striped">
    <thead>
        <tr>
          <th scope="col"> Id </th>
          <th scope="col">Pair Address </th>
          <th scope="col">Pair symbol </th>
          <th scope="col">Factory </th>
          <th scope="col">Created At</th>
        </tr>
      </thead>
    <tbody>
    {% for transaction in transcations %}
        <tr>
          <td>  <a href="{% url 'blockchains:bsc-detail' transaction.id %}"> {{ transaction.id}} </a> </td>
          <td > {{ transaction.pair_address}} </td>
          <td> {{ transaction.pair_symbol}} </td>
          <td> {{ transaction.factory_address}} </td>
          <td> {{ transaction.updated_at}} </td>

        </tr>
    {% endfor %}
</tbody>
</table>


</ul>
    
{% endblock %}