{% extends 'blockchains/base.html' %}

{% block title %}
    bsc list
{% endblock %}

{% block context %}

<div class="container-fluid">  
  <h2> Pairs </h2> 
  <h6>{{info}} </h6>
</div>

<ul>
  <table class="table table-bordered  table-striped">
    <thead>
      <tr>
        {% for col in df.columns %}
          <th scope="col">
            {{col}}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for index, row in df.iterrows %}
        <tr>
          {% for cell in row %}
            <td>
              {{ cell }}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</ul>

    
{% endblock %}